[defaults]
host_key_checking = True
inventory = inventory_hcloud.yml
enable_plugins = hetzner.hcloud.hcloud

[ssh_connection]
pipelining = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
